<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<title>Video player</title>
</head>

<body>
	<div id="app">
		<video :src="videoUrl" controls></video>
		<hr />
		<label>
			<input type="search" v-model="searchTerm" placeholder="Search for a movie..." />
			<button @click="findMovie" style="cursor: pointer;">Search</button>
		</label>
		<ul>
			<li v-for="file in files" :key="file.magnet">
				{{ file.title }}
				<button style="cursor: pointer;" @click="play(file)">Play</button>
			</li>
		</ul>
	</div>
</body>
<script>
	const { createApp } = Vue;
	createApp({
		data()
		{
			return {
				searchTerm: '',
				activeVideo: {},
				files: [],
			};
		},
		computed:
		{
			videoUrl({ activeVideo })
			{
				return activeVideo.filename ? `/stream/${activeVideo.magnet}/${activeVideo.filename}` : "";
			},
		},
		async mounted()
		{
			await this.getMyMovies();
		},
		methods:
		{
			async play(file)
			{
				const { data } = await axios.get(`/stream/add/${file.magnet}`);
				this.activeVideo =
				{
					magnet: file.magnet,
					filename: data[0].name,
				};
			},
			async findMovie()
			{
				const response = await axios.get(`/movies/search?searchTerm=${this.searchTerm}`);
				this.files = response.data;
			},
			async getMyMovies()
			{
				const response = await axios.get(`/movies`);
				this.files = response.data;
			}
		},
	}).mount("#app");
</script>

</html>
